@use '../abstracts/variables' as *;

.social-media-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin: 0;
        padding: 0;

        > a {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: color 0.15s ease;
            color: $white;

            &:hover {
                color: $gray-25;
            }

            svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}
