@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.block.block--latest-posts {
    .block__post-loop {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 1.5rem;
        @include breakpoint(min-s) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        @include breakpoint(min-m) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}
