// Colors
$black: #000000;
$white: #ffffff;
$gray-25: #f7f7f7;
$gray-50: #8f8f8f;
$gray-75: #333333;
$gray-100: #1a1a1a;
$red-25: #ffe6e6;
$red-50: #ff3838;
$red-75: #d60000;
$red-100: #b80000;

// Font Families
$font-sans: 'your-font-family';

// Font Sizes
$font-xxxs: 0.875rem;
$font-xxs: 1rem;
$font-xs: 1.125rem;
$font-s: 1.25rem;
$font-m: 1.5rem;
$font-l: 1.75rem;
$font-xl: 2rem;
$font-xxl: 2.25rem;
$font-xxxl: 3rem;

// Font Weights
$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

// Widths
$width-s: 32rem;
$width-m: 48rem;
$width-l: 64rem;
$width-xl: 80rem;

// Border Radius
$border-radius-full: 9999px;

// Miscellaneous
$body-background-color: $white;
